pandas==2.0.2
numpy==1.25.0
matplotlib==3.7.0
spacy==3.2
altair==4.1
scikit-learn==1.2.2
tqdm==4.65.0
torch==2.0.1
torchvision
torchaudio
ipadic
mecab-python3
rouge-score
sacrebleu
bert_score
flake8
black
GPUtil
wandb
transformers[ja,torch]
sentencepiece
datasets
